body {
  min-width: 1145px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  background-color: #e1f0f8;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #eb5825;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}
